.hide
    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        symbol(id='header-target' viewBox='0 0 24 24')
            path(fill='none' d='M0 0h24v24H0z')
            path(d='M18.473 12.727a6.5 6.5 0 0 1-5.745 5.745v.8a.728.728 0 1 1-1.455 0v-.8a6.364 6.364 0 0 1-5.745-5.745h-.8a.728.728 0 1 1 0-1.455h.8a6.364 6.364 0 0 1 5.745-5.745v-.8a.728.728 0 1 1 1.455 0v.8a6.5 6.5 0 0 1 5.745 5.745h.8a.728.728 0 1 1 0 1.455ZM12 17.091A5.091 5.091 0 1 0 6.909 12 5.06 5.06 0 0 0 12 17.091Zm0-2.182A2.909 2.909 0 1 1 14.909 12 2.918 2.918 0 0 1 12 14.909Zm0-1.455A1.455 1.455 0 1 0 10.545 12 1.459 1.459 0 0 0 12 13.455Z')


//svg
    use(xlink:href="#map-marker-clean")
